@model IEnumerable<SportsPro.Models.Registrations>



@{
    ViewData["Title"] = "Registrations";

}
<h1>Customer: @TempData["FullName"]</h1>
<h1>Registrations</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>


        }
    </tbody>
</table>



<h1>Product</h1>
@{
    IEnumerable<Products> products = ViewBag.Products as IEnumerable<Products>;
}
<form asp-action="AddProduct">
    <select name="sel"   class="form-control" >

        @foreach (Products product in ViewBag.Products)
        {
        <option> @product.Name</option>
            
        }
    </select>
    <br />
    <input type="submit" value="Register" class="btn btn-primary" />
</form>



  